PUBLIC_APP_ENV=development # development, qa, production
REACT_APP_TOLGEE_API_KEY=tgpak_gm3v63ligq3tgmlemrxwym3fovtdm2trnfzwozdwnfudona
REACT_APP_TOLGEE_API_URL=https://locales-qa.beweos.io
REACT_APP_TOLGEE_LOCALES_PATH=./src/locales
REACT_APP_TOLGEE_PROJECT_ID=37
REACT_APP_BASE_URL_BACKEND=https://api-gateway-qa.beweos.io
# REACT_APP_PRODUCT_FRUITS_CODE=sgyepBOjLwRUVMG3
REACT_APP_USER_GUIDING_CONTAINER_KEY=RTB110995XF2ID
# Micro frontends
MICRO_FRONT_LINDABUSSINESS=http://localhost:3005/remoteEntry.js
REACT_APP_LOGOUT_URL=localhost:3001
## Filestack
REACT_APP_FILESTACK_CONTAINER=media-bewe-os-dev
REACT_APP_CHATBOT_BASE_URL=https://chatbot-clients-qa.beweos.io
REACT_APP_CHATBOT_SDK_URL=https://storage.googleapis.com/sdk-os/prod/umd/index.js
REACT_APP_INSTAGRAM_INTEGRATION_HELP_URL=https://help.beweos.com/instagram-integration
## WebSocket
REACT_APP_WS_BASE_URL=https://api-gateway-qa.beweos.io